[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruff = "*"
numpy = "*"
matplotlib = "*"
astropy = "*"
rise = "*"
ipytest = "*"
py-heat-magic = "*"
line-profiler = "*"
jupyterlab-rise = "*"

[dev-packages]

[requires]
