[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
astropy = "*"
rise = "*"
ipytest = "*"
line-profiler = "*"
jupyterlab-rise = "*"
tqdm = "*"
ipywidgets = "*"

[dev-packages]
pre-commit = "*"

[requires]
